# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
media/
staticfiles/
db.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store

# Byte-compiled / distribution
*.egg-info/
dist/
build/
