{% extends "account/base.html" %}

{% block title %}Customer Dashboard{% endblock title %}

{% block content %}
<h1 class="text-center mt-6 font=bold">Customer Dashboard</h1>

<a href="{% url 'password_change' %}" class="bg-rose-400 p-4 m-6">Change Password</a>

<hr>
<br><br><br>

<ul style="margin-left: 20px; margin-top: 10px;">
    {% if perms.product.view_product %}
        <li style="margin-bottom: 10px;">
            <a href="{% url 'product_list' %}">Product List</a>
        </li>
    {% endif %}
    {% if perms.product.add_product %}
        <li style="margin-bottom: 10px;">
            <a href="{% url 'product_add' %}">Product Add</a>
        </li>
    {% endif %}
</ul>
{% endblock content %}
