__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
ENV/
env/
*.env
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
*.mo
media/
staticfiles/
static/
*.sass-cache
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
.DS_Store
Thumbs.db
desktop.ini
*.pyc
.coverage
htmlcov/
.tox/
.pytest_cache/
*.orig
