{% extends "account/base.html" %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<div class="flex items-center justify-center px-4 py-8">
    <div class="w-full max-w-md p-8 space-y-6 bg-gray-800 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-center">Reset Password</h2>
        <form action="#"  method="POST" class="space-y-6" id="reset-password-form" novalidate>
            {% csrf_token %}
            <div>
                <label for="email" class="block text-sm font-medium">Email</label>
                <input type="email" value="{{ form.email.value|default:'' }}" name="email" id="email" class="block w-full mt-1 border-gray-600 rounded-md shadow-sm bg-gray-700 text-gray-200 focus:border-rose-200 focus:ring-rose-200 p-2" placeholder="you@gmail.com" required>
                {% if form.email.errors %}
                <div class="text-red-500 text-sm mt-1">
                    {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>             
                {% endif %}
            </div>
            <button id="submit-btn" type="submit" class="w-full px-4 py-2 text-white rounded-md bg-rose-500 hover:bg-rose-600 focus:outline-none">Send Password Reset Link</button>
        </form>
    </div>
</div>
<script>
    const form =document.getElementById('reset-password-form');
    const submitBtn = document.getElementById('submit-btn');

    form.addEventListener('submit', function(event){
        submitBtn.disabled = true;
        submitBtn.innerText = 'Sending...';
    });
</script>
{% endblock content %}

